#education {
  width: 100% !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #81ecec;
}


.svg {
  aspect-ratio: 865.76/682.89;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.svg-icon {
  background-image: url('../../assets/images/education-icon.svg');
}

.education-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}