.container{
    display: inline-block;
}
  
.typed-out{
    font-family: "Courier", monospace;
    overflow: hidden;
    border-right: .15em solid gray;
    white-space: nowrap;
    animation: 
    typing 1s steps(20, end) forwards,
    blink-caret .75s step-end infinite;
    width: 0;
    font-size:2.25rem;
    color: #2d3436;
    margin-bottom: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray; }
}