.other-headers{
font-family: "Courier", monospace;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2.25rem;
    color: black;
    margin: 0 0 10% 0;
}

.education-header{
    font-family: "Courier", monospace;
        overflow: hidden;
        white-space: nowrap;
        font-size: 2.25rem;
        color: black;
        margin: 50% 0 10% 0;
    }